header {
    background-color: #292c2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    height: 80px; /* Img is 80 px high */
    box-sizing: border-box;
}

header div.header-limiter {
    max-width: 80em;
    text-align: center;
    margin: 0 auto;
}

/* Logo */

header div.header-limiter h1 {
    float: left;
    font-size: 2rem;
    margin: 0;
}

header div.header-limiter h1 a img {
    vertical-align:middle
}

header div.header-limiter h1 a span {
    padding: 1rem;
}

/* The header links */

header div.header-limiter a {
    color: #ffffff;
}

header div.header-limiter a:hover {
    text-decoration: none;
}

header div.header-limiter nav{
    float: right;
    padding: 1rem 0;
}

header div.header-limiter nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header div.header-limiter nav ul li a{
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem;
    color: #ffffff;
    opacity: 0.8;
}

header div.header-limiter nav ul li{ 
    display: inline; 
}

header div.header-limiter nav ul li a:hover{
    opacity: 1;
    text-decoration: underline;
}

/*header div.header-limiter nav ul li a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}*/



/*! responsive-nav.js 1.0.39 by @viljamis */

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("font/responsivenav.eot");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
    position: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    /*position: relative;*/
    overflow: hidden;
    width: 3rem;
    height: 2rem;
    /*float: right;*/
    top:0;
    right: 0;
    padding: 1.5rem;
}

.nav-toggle:before {
    color: #ffffff; /* Edit this to change the icon color */
    font-family: "responsivenav", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 2rem;
    text-transform: none;
    position: absolute;
    content: "≡";
    text-indent: 0;
    text-align: center;
    line-height: 2rem;
    speak: none;
    width: 100%;
    /*top: 0;*/
    left: 0;
}

.nav-toggle.active::before {
    font-size: 1.3rem;
    content:"x";
}


.nav-collapse.opened ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}

.nav-collapse.opened li {
    padding: 0 0.5rem;
    width: 100%;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    background-color: #292c2f;
}


.nav-collapse.opened {
    max-height: 9999px;
}



@media screen and (min-width: 48rem) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}

@media (max-width: 48rem) {
    
    header {
        height: 80px;
    }

    header div.header-limiter h1 {
            float: none;
            margin: auto;
            text-align: center;
            font-size: 1.5rem;
    }

}